*
!.gitignore
!README.md

!nvim/
!nvim/**

!dunst/
!dunst/**

!i3/
!i3/**

!gtk-3.0/
!gtk-3.0/**

!i3status/
!i3status/**

!kitty/
!kitty/**

!picom/
!picom/**

!rofi/
!rofi/**

!lightdm/
!lightdm/**

!i3status/
!i3status/**

!i3blocks/
!i3blocks/**

!polybar/
!polybar/**

!lf/
!lf/**

!screenshots/
!screenshots/**

!conky/
!conky/**

!fish/
!fish/**

nvim/.repro/
nvim/.repro/**
