/**
 *
 * Author : Levi Lacoss (fishyfishfish55)
 * Github : @fishyfishfish55
 *
 * Colors
 **/

* {
    background:     #1a1b26FF;
    background-alt: #16161eFF;
    foreground:     #a9b1d6FF;
    selected:       #7aa2f7FF;
    active:         #bb9af7FF;
    urgent:         #F7768EFF;
}
